<div id="<%= dom_id song %>">
  <p>
    <strong>Title:</strong>
    <%= song.title %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= song.genre %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= song.duration %>
  </p>

  <p>
    <strong>File path:</strong>
    <%= song.file_path %>
  </p>

</div>
